1. Sum of the first n positive integers

In [22]:
n = int(input("Enter n: "))
total = n * (n + 1) // 2
print("Sum of first",n, "positive number is", total)

Enter n:  10

Sum of first 10 positive number is 55

2. Count occurrences of a substring in a string

In [23]:
string = "hello world hello world hello world"
substring = "hello"
count = string.count(substring)
print("Occurrences:", count)

Occurrences: 3

3. Count occurrences of each word in a sentence

In [25]:
sentence = "Hii welcome to assongment, most welcome"
words = sentence.split()
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

{'Hii': 1, 'welcome': 2, 'to': 1, 'assongment,': 1, 'most': 1}

4. Swap first two characters of two strings

In [4]:
a = "abc"
b = "xyz"

new_a = b[:2] + a[2:]
new_b = a[:2] + b[2:]

result = new_a + " " + new_b
print(result)

xyc abz

5. Add ing or ly to a string

In [5]:
s = input("Enter string: ")

if len(s) < 3:
    print(s)
elif s.endswith("ing"):
    print(s + "ly")
else:
    print(s + "ing")

Enter string:  abhdlld

abhdllding

6. Replace not â€¦ poor with good

In [26]:
s = "review is poor of this series"
not_pos = s.find("not")
poor_pos = s.find("poor")

if not_pos != -1 and poor_pos != -1 and not_pos < poor_pos:
    s = s[:not_pos] + "good" + s[poor_pos + 4:]

print(s)

review is poor of this series

7. Greatest Common Divisor (GCD)

In [7]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(20, 28))
print(gcd(98, 56))

4
14

8. Check whether a list contains a sublist

In [27]:
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [3, 4, 5]

exists = False
for i in range(len(main_list)):
    if main_list[i:i+len(sub_list)] == sub_list:
        exists = True

print("Sublist exists:", exists)

Sublist exists: True

9. Find the second smallest number in a list

In [28]:
numbers = [12,53,13,5,2,32,422,132,31]
numbers = list(set(numbers))
numbers.sort()
print("Second smallest:", numbers[1])

Second smallest: 5

10. Get unique values from a list

In [29]:
lst = [232,4543,21,43,122,12,211,211,122,]
unique = list(set(lst))
print(unique)

[232, 43, 12, 211, 21, 122, 4543]

11. Unzip a list of tuples

In [30]:
tuples = [(1, 2), (3, 4), (5, 6)]
list1, list2 = zip(*tuples)

print(list(list1))
print(list(list2))

[1, 3, 5]
[2, 4, 6]

12. Convert a list of tuples into a dictionary

In [31]:
tuples = [("a", 1), ("b", 2), ("c", 3)]
dictionary = dict(tuples)
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

13. Sort a dictionary by value

In [32]:
d = {'a': 3, 'b': 1, 'c': 2}

asc = dict(sorted(d.items(), key=lambda x: x[1]))
desc = dict(sorted(d.items(), key=lambda x: x[1], reverse=True))

print("Ascending:", asc)
print("Descending:", desc)

Ascending: {'b': 1, 'c': 2, 'a': 3}
Descending: {'a': 3, 'c': 2, 'b': 1}

14. Find the highest 3 values in a dictionary

In [33]:
d = {'a': 10, 'b': 30, 'c': 20, 'd': 40}
top3 = sorted(d.values(), reverse=True)[:3]
print(top3)

[40, 30, 20]

15. Fibonacci series up to n terms

In [35]:
n = int(input("Enter the number:"))
fib = [0, 1]

for i in range(2, n+1):
    fib.append(fib[i-1] + fib[i-2])

print(fib)

Enter the number: 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

16. Count frequencies in a list using dictionary

In [36]:
lst = [1,1,1,5,5,3,1,3,3,1,4,4,4,2,2,2,2]
freq = {}

for i in lst:
    freq[i] = freq.get(i, 0) + 1

print(freq)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

17. Sum of odd and even series using function

In [41]:
import math

def odd_series(n):
    total = 0
    for i in range(1, n+1, 2):
        total += (i**2) / math.factorial(i)
    return total

def even_series(n):
    total = 0
    for i in range(2, n+1, 2):
        total += (i**2) / math.factorial(i)
    return total

print("Odd series sum:", odd_series(10))
print("Even series sum:", even_series(10))

Odd series sum: 2.71827876984127
Even series sum: 2.718281525573192

18. Factorial using recursion

In [38]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(10))

3628800

19. Function to return unique elements from a list

In [40]:
def unique_list(lst):
    return list(set(lst))

print(unique_list([1, 2, 1, 1, 1, 2, 4, 1 ,3, 4, 1]))

[1, 2, 3, 4]